// Dimensions

$base-font-size:    	16px;
$base-line-height:  	24px;

$base-radius:       	3px;

$base-spacing-unit: 	$base-line-height;
$margin:				$base-spacing-unit;

$site-max-width:		1200px;

@function content-width() {
	@return 750;
}
