////
/// Code editor block.
///
/// @group  Editor
/// @author Bryan Hoffman <bryan@spigotdesign.com>
/// @link   https://spigotdesign.com/
////

.wp-block-code {
	tab-size: 4;
    padding: $spacing-global;
    font-family: font-family("code");
    font-size: inherit;
    line-height: inherit;
    border: 1px solid var(--color-border);
    box-sizing: content-box;

    //margin-bottom : $spacing-global;
    margin-top: $spacing-global;
	color: var( --color-primary );
	margin-left: -#{ $spacing-global };
	margin-right: -#{ $spacing-global };

	.editor-plain-text,
	.editor-plain-text:focus {
		font-size: 15px;
		font-family: font-family( code );
		background: inherit;
		color: inherit;
	}
}
