// Borders 

// General borders
$base-radius:       	1.875rem;
$border-radius: 		$base-radius;

$border-radius-small:   $base-radius * .15;
$border-radius-med:     $base-radius * .3;
$border-radius-round:   $base-radius * 20;

// Button borders
$button-border-radius:  $border-radius-med;
$button-border-width: 1px;
$button-border-style: solid;

// Nav button borders
$nav-button-border-width: $button-border-width;




// Pagination buttons
$pagination-button-border-radius: 100px;
