// Borders 

$base-radius:       	3px;
$border-radius: 		$base-radius;

$button-border-radius:  $base-radius;
$button-border-width: 0;
$button-border-style: solid;


// Pagination buttons
$pagination-button-border-radius: 100px;
