////
/// Set up and define colors.
///
/// @group  Settings
/// @author Bryan Hoffman <bryan@spigotdesign.com>

////

// Black, White, and Grays
$black:							black;
$white:							white;
$gray-darkest:					#231F20;
$gray-darker:					#30353A;
$gray-dark:						#4A4A4A;
$gray:							#666B6F;
$gray-light:					#9FA4A8;
$gray-lighter:					#C2C8CC;  
$gray-lightest:					#F8F9F9; 

// Colors
$blue:							#2DA3ED;
$blue-dark:						#004071; // set
$blue-light:					#EBF5F2;

$purple:						#A85ECE;
$red:							#a00;
$green:         				#789165; // set

// Fix these colors
$blue-darkest:					#EBF5F2;
$purple-dark:					purple;
$purple-darkest:				purple;

// Corporate Colors
$woocommerce-purple:			#a46497;
$insta-pink:					#cd486b;
$insta-purple:					#8a3ab9;
$twitter-blue:					#55acee;
$facebook-blue:					#3b5998;
$pinterest:						#cb2027;
$instagram-color:				#cd486b;

// WooCommerce Colors
$primary-color:					$red;
$cart-sidebar-bg:				$gray-darkest;
$woo-message-button-bg:			$red;
$woo-message-bg:				$red;
$woo-account-header-bg:			$red;
$star-rating-yellow:			#F5A623;



// Page
$body-background:        		$gray-lightest;
$alt-body-background:			$gray-lightest;

// Text
$text-color:             		$gray-dark;
$headings-color:				$blue-dark;

// Header Colors
$header-background:				$white;

// Main Nav Colors
$nav-color:						$blue-dark;
$nav-color-hover:				$red;
$nav-color-current:				$nav-color-hover;

// Main Nav Button
$nav-btn-bg:					$blue-dark;
$nav-btn-bg-hover:				$green;
$nav-btn-color:					$white;
$nav-btn-color-hover:			$white;
$nav-btn-border:				$blue-dark;
$nav-btn-border-hover:			$green;

// Subnav Colors
$subnav-bg:						$white;
$subnav-bg-hover:				$blue-dark;
$subnav-color:					$blue-dark;
$subnav-color-hover:			$white;


// Mobile Nav Colors
$mobile-background:				$blue-dark;
$nav-color-mobile:				$white;
$nav-color-mobile-hover:		$green;
$nav-bg-mobile:					transparent;
$nav-bg-mobile-hover:			transparent;
$subnav-color-mobile:			$white;
$subnav-bg-mobile-hover:		transparent;
$subnav-color-mobile-hover:		$green;



// Links 
$link-color:             		$blue;
$link-color-hover:        		darken($link-color, 15%);

// Borders
$border-color:					darken($gray-lightest, 5%);
$nav-border-color:				rgba($blue, .75);

// Miss
$boxshadow-color:				$black;

/// Returns an map of colors in name-value format. This function also merges
/// with the `block-colors()` map to create a map of all colors.
///
/// @since  1.0.0
/// @access public
/// @return {map}  Map of defined colors.

@function colors() {

	$colors : (
		white : #fff,
		black : #000
	);

	@return map-merge( $colors, block-colors() );
}

/// Returns an map of block colors in name-value format. These are the colors
/// defined via the `editor-color-palette` setting in `app/functions-setup.php`
/// for the WordPress editor.
///
/// @since  1.0.0
/// @access public
/// @return {map}  Map of defined colors.

@function block-colors() {

	@return (
		charcoal  : #282c34,
		regent    : #8c97a7,
		husk      : #b9a364,
		red-stage : #b15330
	);
}

/// Returns a single color value by name.
///
/// @since  1.0.0
/// @access public
/// @param  {string}  $name  Color name.
/// @return {string}         Color value.

@function color( $name ) {

	@return map-get( colors(), $name );
}

/// Returns a single block color value by name.
///
/// @since  1.0.0
/// @access public
/// @param  {string}  $name  Color name.
/// @return {string}         Color value.

@function block-color( $name ) {

	@return map-get( block-colors(), $name );
}
