////
/// Set up and define colors.
///
/// @group  Settings
/// @author Bryan Hoffman <bryan@spigotdesign.com>

////

// Black, White, and Grays
$black: black;
$white: white;
$gray-darkest: #231f20;
$gray-darker: #30353a;
$gray-dark: #4a4a4a;
$gray: #515d67;
$gray-light: #9fa4a8;
$gray-lighter: #c2c8cc;
$gray-lightest: #f8f9f9;

// Colors
$blue: #1c5589;
$blue-light: #1f67a3;
$blue-lightest: #f3f9fa;
$blue-dark: #0b3356;
$blue-darker: #05233f;
$blue-darkest: #05233f;
$teal: #419db9;
$teal-light: #52c0e3;
$shadow-blue: #354558;
$purple: #a85ece;
$purple-darkest: #0f0b2e;
$red: #c51b0b;
$red-dark: #812d31;
$green: #3aaa47;
$green-dark: #2c8e44;
$yellow: #f9c626;

$tan: #f2ddb8;
$tan-light: #fefdf8;

// Corporate Colors

// Page
$body-background: $blue-lightest;
$alt-body-background: $gray-lightest;

// Text
$text-color: $gray;
$headings-color: $blue-dark;
$footer-text: #557882;

// Header Colors
$header-background: $white;

// Main Nav Colors
$nav-color: $blue-darker;
$nav-color-hover: $blue-darker;
$nav-color-current: $nav-color-hover;

// Main Nav Button
$nav-btn-bg: transparent;
$nav-btn-bg-hover: $green;
$nav-btn-color: $white;
$nav-btn-color-hover: $white;
$nav-btn-border: $blue-dark;
$nav-btn-border-hover: $green;

// Subnav Colors
$subnav-bg: $white;
$subnav-bg-hover: $blue-dark;
$subnav-color: $blue-dark;
$subnav-color-hover: $white;

// Mobile Nav Colors
$mobile-background: $blue-dark;
$nav-color-mobile: $white;
$nav-color-mobile-hover: $yellow;
$nav-bg-mobile: transparent;
$nav-bg-mobile-hover: $blue-darker;
$subnav-bg-mobile: transparent;
$subnav-color-mobile: $white;
$subnav-bg-mobile-hover: $blue-darker;
$subnav-color-mobile-hover: $blue-light;

// Buttons
$button-text-color: $blue-dark;
$button-text-color-hover: $white;
$button-bg-color: transparent;
$button-color-hover: $yellow;
$button-border-color: $yellow;

// Links
$link-color: $teal-light;
$link-color-hover: $teal;
$footer-link-color: $white;
$footer-link-color-hover: $blue-light;

// Footer
$footer-copyright-color: #71889d;

// Borders
$border-color: darken($gray-lightest, 5%);
$nav-border-color: rgba($blue, 0.75);

// Tooltips
$tooltip-color: $white;
$tooltip-bg-color: $purple-darkest;

// Misc
$boxshadow-color: $black;

/// Returns an map of colors in name-value format. This function also merges
/// with the `block-colors()` map to create a map of all colors.
///
/// @since  1.0.0
/// @access public
/// @return {map}  Map of defined colors.

@function colors() {
  $colors: (
    white: #fff,
    black: #000,
  );

  @return map-merge($colors, block-colors());
}

/// Returns an map of block colors in name-value format. These are the colors
/// defined via the `editor-color-palette` setting in `app/functions-setup.php`
/// for the WordPress editor.
///
/// @since  1.0.0
/// @access public
/// @return {map}  Map of defined colors.

@function block-colors() {
  @return (
    white: $white,
    blue: $blue,
    blue-dark: $blue-dark,
    red: $red-dark,
    red-stage: #b15330
  );
}

/// Returns a single color value by name.
///
/// @since  1.0.0
/// @access public
/// @param  {string}  $name  Color name.
/// @return {string}         Color value.

@function color($name) {
  @return map-get(colors(), $name);
}

/// Returns a single block color value by name.
///
/// @since  1.0.0
/// @access public
/// @param  {string}  $name  Color name.
/// @return {string}         Color value.

@function block-color($name) {
  @return map-get(block-colors(), $name);
}
