////
/// Set up and define colors.
///
/// @group  Settings
/// @author Bryan Hoffman <bryan@spigotdesign.com>

////

// Black, White, and Grays
$black: black;
$white: white;
$gray-darkest: #231f20;
$gray-darker: #30353a;
$gray-dark: #4a4a4a;
$gray: #515d67;
$gray-light: #9fa4a8;
$gray-lighter: #c2c8cc;
$gray-lightest: #F9F9F9;

// Colors
$blue: #1c5589;
$blue-light: #1f67a3;
$blue-lightest: #f3f9fa;
$blue-dark: #0b3356;
$blue-darker: #05233f;
$blue-darkest: #05233f;
$teal: #419db9;
$teal-light: #52c0e3;
$shadow-blue: #354558;
$purple: #a85ece;
$purple-darkest: #0f0b2e;
$red: #c51b0b;
$red-dark: #812d31;

$green: #5C9A0A;  // set
$green-dark: #172E26;  // set
$green-lightest: #F0F1F0;
$olive-light: #6D817A; // set
$yellow: #f9c626;


$orange: $yellow;
$tan: #f2ddb8;
$tan-light: #fefdf8;

// Corporate Colors


// Page
$body-background: $gray-lightest;
$alt-body-background: $white;
$page-head-bg-color: $green-dark;

// Text
$text-color: $green-dark;
$headings-color: $green-dark;
$footer-text: #557882;

// Links
$link-color: $green;
$link-color-hover: $yellow;


// Header Colors
$header-background: $white;

// Main Nav Colors
$nav-text-color: $green-dark;
$nav-text-color-hover: $green;
$nav-text-color-current: $nav-text-color-hover;

// Main Nav Button
$nav-btn-bg: transparent;
$nav-btn-bg-hover: $green;
$nav-btn-color: $white;
$nav-btn-color-hover: $white;
$nav-btn-border: $blue-dark;
$nav-btn-border-hover: $green;

// Subnav Colors
$subnav-bg: $white;
$subnav-bg-hover: $green-dark;
$subnav-text-color: $green-dark;
$subnav-text-color-hover: $white;

// Mobile Nav Colors
$mobile-background: $green-dark;
$nav-color-mobile: $white;
$nav-color-mobile-hover: $green-dark;
$nav-bg-mobile: transparent;
$nav-bg-mobile-hover: $green-dark;
$subnav-bg-mobile: transparent;
$subnav-color-mobile: $white;
$subnav-bg-mobile-hover: $green;
$subnav-color-mobile-hover: $green-dark;

// Buttons
$button-text-color: $white;
$button-text-color-hover: $white;
$button-bg-color: $link-color;
$button-bg-color-hover: $link-color-hover;
$button-border-color: $link-color;
$button-border-color-hover: $link-color-hover;

// Footer
$footer-copyright-color: $olive-light;
$footer-link-color: $green;
$footer-link-color-hover: $yellow;

// Borders
$border-color: darken($gray-lightest, 5%);
$nav-border-color: rgba($blue, 0.75);

// Tooltips
$tooltip-color: $white;
$tooltip-bg-color: $purple-darkest;

// Pagination
$pagination-bg-color: $green-dark;
$pagination-bg-color-active: darken($green-dark, 10%);
$pagination-text-color: $white;
$pagination-text-color-active: $white;
$pagination-border-color: lighten($pagination-bg-color, 5%);

// Boxshadow
$boxshadow-color: $black;



// Search
$search-bg-color: $green-dark;




/* Event Calendar Pro Colors
***************************************/
$ecp-button-bg-color: $link-color;
$ecp-button-text-color: $button-text-color;
$ecp-button-border-color: $button-border-color;
$ecp-link-color: $link-color;


/// Returns an map of colors in name-value format. This function also merges
/// with the `block-colors()` map to create a map of all colors.
///
/// @since  1.0.0
/// @access public
/// @return {map}  Map of defined colors.

@function colors() {
  $colors: (
    white: #fff,
    black: #000,
  );

  @return map-merge($colors, block-colors());
}

/// Returns an map of block colors in name-value format. These are the colors
/// defined via the `editor-color-palette` setting in `app/functions-setup.php`
/// for the WordPress editor.
///
/// @since  1.0.0
/// @access public
/// @return {map}  Map of defined colors.

@function block-colors() {
  @return (
    white: $white,
    blue: $blue,
    blue-dark: $blue-dark,
    red: $red-dark,
    red-stage: #b15330
  );
}

/// Returns a single color value by name.
///
/// @since  1.0.0
/// @access public
/// @param  {string}  $name  Color name.
/// @return {string}         Color value.

@function color($name) {
  @return map-get(colors(), $name);
}

/// Returns a single block color value by name.
///
/// @since  1.0.0
/// @access public
/// @param  {string}  $name  Color name.
/// @return {string}         Color value.

@function block-color($name) {
  @return map-get(block-colors(), $name);
}
