// Dimensions

@use "sass:math";

$spacing-global:	1.5rem;
$margin:			$spacing-global;
$base-line-height:  $spacing-global;



$width-alignwide : 56rem;
$width-alignfull : 100vw;

$content-width: math.div(900, 16) * 1rem;

$content-width-padded : $content-width + ( $spacing-global * 2 );

$alignwide-padded : $width-alignwide + ( $spacing-global * 2 );


$site-max-width:				math.div(1200, 16) * 1rem;
$site-width:					$site-max-width;

$post-width:					math.div(960, 16) * 1rem;

$app-header-height:				math.div(80, 16) * 1rem;
$app-header-height-detatched:	math.div(125, 16) * 1rem;



// Global Transition
$transition:					all .3s ease-in-out;


// Logo dimensions
$logo-width:            		math.div(244, 16) * 1rem;
$logo-height:           		math.div(50, 16) * 1rem;
$logo-width-mobile:     		math.div(244, 16) * 1rem;
$logo-height-mobile:    		math.div(50, 16) * 1rem;
$logo-width-detached:   		$logo-width;
$logo-height-detached:  		$logo-height;

$nav-width:						math.div(420, 16) * 1rem;
$branding-width:				math.div(450, 16) * 1rem;
$branding-width-mobile:			math.div(245, 16) * 1rem;


@function content-width() {
	@return $content-width;
}
