// Dimensions

$spacing-global:	1.5rem;
$margin:			$spacing-global;
$base-line-height:  $spacing-global;



$width-alignwide : 56rem;
$width-alignfull : 100vw;

$content-width: (900 / 16) * 1rem;

$content-width-padded : $content-width + ( $spacing-global * 2 );

$alignwide-padded : $width-alignwide + ( $spacing-global * 2 );


$site-max-width:				(1200 / 16) * 1rem;
$site-width:					$site-max-width;

$post-width:					(960 / 16) * 1rem;

$app-header-height:				(94 / 16) * 1rem;
$app-header-height-detatched:	(125 / 16) * 1rem;



// Global Transition
$transition:					all .3s ease-in-out;


// Logo dimensions
$logo-width:            		(250 / 16) * 1rem;
$logo-height:           		(76 / 16) * 1rem;
$logo-width-mobile:     		(200 / 16) * 1rem;
$logo-height-mobile:    		(64 / 16) * 1rem;
$logo-width-detached:   		$logo-width;
$logo-height-detached:  		$logo-height;

$nav-width:						(350/ 16) * 1rem;


@function content-width() {
	@return $content-width;
}
