$font-family:     Georgia, Helvetica, Arial, sans-serif;
$alt-font-family: $font-family;

//$med-font-family:			'acherusgrotesque-medium', sans-serif;
//$bold-font-family:		'acherusgrotesque-bold', sans-serif;
//$italic-font-family:		'acherusgrotesque-regularitalic', sans-serif;

$mono-font-family: Menlo, Monaco, Consolas, "Courier New", monospace;

$base-font-family: $font-family;
$base-font-size: 16px;
$base-font-style: normal;
$base-font-weight: 400;

// Font Weights
$bold-font-weight: 700;
$mid-font-weight: 600;
$normal-font-weight: 400;
$light-font-weight: $normal-font-weight;

// Headings
$headings-font-family: $alt-font-family;
$headings-font-weight: $mid-font-weight;

// Body
$body-font-family: $font-family;
$body-font-weight: $normal-font-weight;

// Buttons
$button-font-family: $alt-font-family;

// Navigation
$nav-font-family: $alt-font-family;
$nav-font-weight: $mid-font-weight;


// WooCommerce
$price-font-family: $alt-font-family;
$price-font-weight: $mid-font-weight;