////
/// Columns editor block.
///
/// @group  Editor
/// @author Bryan Hoffman <bryan@spigotdesign.com>
/// @link   https://spigotdesign.com/
////

// Columns block.  We need to remove negative margins in editor.

.wp-block-columns {
	margin-left: auto;
	margin-right: auto;

	> .editor-inner-blocks {
		margin-top: $spacing-global;
	}
}

[data-align="full"] .wp-block-columns {
	padding-left: $spacing-global;
	padding-right: $spacing-global;

	> .editor-inner-blocks {
		padding-left: 0;
		padding-right: 0;
	}
}
