.tribe-events .tribe-events-header {
	background: transparent;
}

.tribe-common h1,
	.tribe-common h2,
	.tribe-common h3,
	.tribe-common h4,
	.tribe-common h5,
	.tribe-common h6,
	.tribe-common p {
		font-weight: normal;
		text-rendering: optimizeLegibility;
		font-family: 'Aleo', serif;
	}