// Embed Block

.wp-block-embed {
    position: relative;
    padding-bottom: 56.25%;

    /* 16:9 */
    padding-top: 0px;
    height: 0;
    overflow: hidden;

    &-vimeo {}

    &-youtube {}

    &.is-type-image {}

    &.is-type-audio {}

    &.is-type-rich {}

    // text, twitter, etc.
    &.is-type-video {}

    &.is-provider-vimeo {}

    iframe {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    figcaption {
        margin-top: 0.5em;
        text-align: center;
    }
}