// 404 page search

.entry--error {

	.site-search {
		position: relative;
		background-color: $site-search-bg-color;
		
		input[type=search] {
			width: convert(320);
			border-radius: $border-radius;
			border: $site-search-border-color-input;
			background-color: $site-search-bg-color-input;
			
			&:focus {
				background-color: $site-search-bg-color-input-focus;
			}
		}

	}
}