//
// Primary menu
//

@use "sass:math";

.app-header__nav {
  display: flex;
  align-items: center;
  flex: 0 1 calc(100% - #{$branding-width});
  flex-flow: row wrap;
  justify-content: space-between;

  @include mq(phone-only) {
    flex-basis: 100%;
    order: 1;
    height: 24px;
  }

  .menu {
    position: relative;

  }
}

@import "menu-primary";

@import "menu-account";