//
// App Header
//

.app-header {
    background-color: transparent;
    height: $app-header-height;
    width: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    // box-shadow: 0 0 4px 0 rgba($black, 0.17);
    padding: 0 ($margin * .5);
    /* Rectangle 1 */
    transition: all .3s ease-in-out;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba($header-background, .9);
        opacity: 0;
    }


    @include mq(mobile-nav) {
        height: $app-header-height-mobile;
    }

    .invisible & {
        @include mq(desktop-nav) {
            transform: translate(0, -120px);
            transition: transform 0.2s;
            opacity: 0;
        }
    }

    .detached & {
        height: $app-header-height-mobile;
       
        @include mq(desktop-nav) {
            position: fixed;
            transition: all .5s;
            top: 0;
            border-bottom: none;
        }

        &:before {
            opacity: 1;
        }
    }

    .admin-bar & {
        top: 46px;
        @include mq(wpadmin-desktop) {
            top: 32px;
        }
        @include mq(phone-only) {
            //top: 0;
        }
    }

    .admin-bar.detached & {
        top: 2.875em;

        @include mq(wpadmin-desktop) {
            top: 2em;
        }

        @include mq(phone-only) {
            top: 0;
        }
    }

    .expressbar-open.detached & { // need to remove all expressbar code from theme
        @include mq(wpadmin-desktop) {
          // top: 4.5em;
        }
    }

    &__branding {
        //margin-top: -36px;
        transition: all .3s ease-in-out;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        flex: 0 1 $branding-width;
        //background-color: $blue-darker;
        z-index: 10;

        .detached & {
            .app-header__branding-link {
                width: $logo-width-mobile;
                height: $logo-height-mobile;

                svg {
                    width: $logo-width-mobile;
                    height: $logo-height-mobile;
                }
            }
        }

        @include mq(mobile-nav) {
            flex-basis: $branding-width-mobile;
            //width: $branding-width-mobile;
            //padding: $margin * .25;
            position: relative;
            //left: $margin * .5;
        }

        &-link {
            width: $logo-width-mobile;
            height: $logo-height-mobile;


            @include mq(tablet-landscape-up) {
                width: $logo-width;
                height: $logo-height;
                padding-left: $margin * 0.5;
            }

            svg {
                width: $logo-width-mobile;
                height: $logo-height-mobile;
                transition: all .3s ease-in-out;
                fill: $blue-dark;
                transform: scale(.9);

                @include mq(tablet-landscape-up) {
                    width: $logo-width;
                    height: $logo-height;
                }

            }
        }
    }
}