////
/// App footer component.
///
/// @group  Components
/// @author Bryan Hoffman <bryan@spigotdesign.com>

////

@use "sass:math";

.app-footer {
  //border-top: 1px solid $border-color;
  padding: $margin;
  background-color: $white;
  position: relative;
  padding-top: $margin * 2;
  box-shadow: inset 0px 2px 4px rgba($green-dark, .1);

  a {
    color: $footer-link-color;

    &:hover {
      color: $footer-link-color-hover;
    }
  }

  &__wrap {
    max-width: $site-width;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
  }

  &__branding {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: $margin;
    align-items: center;
    font-family: $alt-font-family;

    @include mq(tablet-landscape-up) {
      flex-basis: 33.333334%;
    }

    &-link {
      margin-bottom: $margin * 0.5;

      svg {
        width: 316px;
        height: 178px;
      }
    }
  }

  &__connect {

    &-social {
      ul {
        list-style: none;
        display: flex;
        justify-content: center;

        li {

          margin: math.div($margin, 4);

          a {
            display: flex;
          }
        }

        svg {
          fill: $link-color;

          &:hover {
            fill: $link-color-hover;
          }
        }
      }
    }
  }

  &__content {
    @include font-size(15px);
    flex: 0 1 100%;

    @include mq(tablet-landscape-up) {
      flex-basis: 66.666667%;
    }

  }

  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: $margin;
    
    @include mq(tablet-portrait-up) {
      justify-content: space-between;
    }

    .menu {
      flex: 0 1 50%;
      margin-bottom: $margin;

      @include mq(tablet-portrait-up) {
        flex-basis: 33.33333%;
        margin-bottom: 0;
      }

      &__items {
        list-style: none;
        text-align: center;

        @include mq(tablet-portrait-up) {
          text-align: left;
        }

      }

      &__title {
        @include font-size(18px);
        text-align: center;
        margin-bottom: math.div($margin, 3);

        @include mq(tablet-portrait-up) {
          text-align: left;
        }
      }
    }
  }

  &__disclaimer {
    border-top: 1px solid $green-dark;
    border-bottom: 1px solid $green-dark;
    padding: math.div($margin, 2) 0;
    margin-bottom: $margin;

    p {
      @include font-size(13px);
      color: $olive-light;
      margin-bottom: 0;
    }
  }




  &__copyright {
    flex: 0 1 100%;
    color: $footer-copyright-color;


    @include font-size(14px);

    margin-top: $margin;

    p {
      display: flex;
      align-items: center;
      font-family: $alt-font-family;

      @include font-size(14px);

      @include mq(phone-only) {
        display: block;
        text-align: center;
        margin-bottom: 0;
        @include font-size(12px);
      }
    }

    .siteby {

      margin-left: $margin * .5;
      display: flex;

      @include mq(phone-only) {
        margin: ($margin * 0.5) auto 0 auto;
        display: block;
        padding-left: 0;
      }

      span {
        display: none;
      }

      svg {
        path {
          fill: $green;
        }

        &:hover {
          path {
            fill: $yellow;
          }
        }
      }
    }
  }
}