//
// App Header
//

.app-header {
    background-color: $header-background;
    height: $app-header-height;
    width: 100%;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 4px 0 rgba($black, 0.17);

    &__branding {
        //margin-top: -36px;
        transition: all .3s ease-in-out;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;

        flex: 0 1 $branding-width;
        //background-color: $blue-darker;

        @include mq(phone-only) {
            flex-basis: 100%;
            order: 2;
            justify-content: flex-start;
            padding-left: $margin * 0.5;
        }

        &-link {
            width: $logo-width-mobile;
            height: $logo-height-mobile;


            @include mq(tablet-portrait-up) {
                width: $logo-width;
                height: $logo-height;
                padding-left: $margin * 0.5;
            }

            svg {
                width: $logo-width-mobile;
                height: $logo-height-mobile;
                transition: all .3s ease-in-out;
                fill: $white;

                @include mq(tablet-portrait-up) {
                    width: $logo-width;
                    height: $logo-height;
                }

            }
        }
    }
}