//
// Primary menu
//

@use "sass:math";

.app-header__nav {
  display: flex;
  align-items: center;
  flex: 0 1 calc(100% - #{$branding-width});
  flex-flow: row wrap;
  justify-content: flex-end;
  overflow-x: hidden;
  

  @include mq(phone-only) {
    flex-basis: calc(100% - #{$branding-width-mobile});
    //order: 1;
    //height: 24px;
  }

  .menu {
    position: relative;

  }
}

@import "menu-primary";
// @import "menu-secondary";
// @import "menu-account";
@import "menu-button";