////
/// App content component.
///
/// This component generally wraps the `<main>` section and the sidebar.
///
/// @group  Components
/// @author Bryan Hoffman <bryan@spigotdesign.com>

////

.app-content {
  margin: 0 auto;
  padding: 0;
  padding-top: $app-header-height;

  @include mq(mobile-nav) {
        padding-top: $app-header-height-mobile;
    }
}
