//
// App Header
//

.app-header {
    background-color: $header-background;
    height: $app-header-height;
    width: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);

    &.invisible {
        transform: translate(0, -116px);
        transition: transform 0.2s;
        opacity: 0;
    }

    &.detached {
        position: fixed;
        transition: transform 0.3s, height 0.3s, background 0.4s, opacity 0.3s;
        top: 0;
        height: $app-header-height-detatched;

        .admin-bar & {
           top: 32px;

            @include mq(wp-mobile) {
               top: 0;
            }
        }
    }

    .admin-bar & {
        top: 32px;

        @include mq(wp-mobile) {
            top: 46px;
        }
    }

    .admin-bar.fl-builder-edit & {
            top: 0;
        }

    &__wrap {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 0 $margin;
    }

    &__branding {
        //margin-top: -36px;
        transition: all .3s ease-in-out;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        .detached & {
            margin-top: 0;
        }

        &-link {
            width: $logo-width-mobile;
            height: $logo-height-mobile;

            @include mq(tablet-portrait-up) {
                width: $logo-width;
                height: $logo-height;
            }


            .detached & {
                width: $logo-width-detached;
                height: $logo-height-detached;
            }

            svg {
                width: $logo-width-mobile;
                height: $logo-height-mobile;
                transition: all .3s ease-in-out;

                @include mq(tablet-portrait-up) {
                    width: $logo-width;
                    height: $logo-height;
                }


                // Small version
                .detached & {
                    width: $logo-width-detached;
                    height: $logo-height-detached;
                    padding-top: 3px;
                }
            }
        }

    }

    // Transparent Header

    .transparent_header & {
        background-color: transparent;
        box-shadow: none;

        &.detached {
            background-color: $header-background;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
        }
    }
}