////
/// App content component.
///
/// This component generally wraps the `<main>` section and the sidebar.
///
/// @group  Components
/// @author Bryan Hoffman <bryan@spigotdesign.com>

////

.app-content {
  //max-width: $site-max-width;
  margin: 0 auto;
  padding: 0;
  padding-top: $app-header-height;

  .fl-builder &,
  .woocommerce-page & {
    max-width: 100%;
  }

  .transparent_header & {
    padding-top: 0;
  }

  .has-sidebar & {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .site-main {
      flex: 0 1 70%;
    }

    .sidebar {
      flex: 0 1 27.5%;
    }
  }
}
