////
/// App footer component.
///
/// @group  Components
/// @author Bryan Hoffman <bryan@spigotdesign.com>

////

@use "sass:math";

.app-footer {
  //border-top: 1px solid $border-color;
  padding: $margin;
  background-color: $blue-darkest;
  position: relative;
  padding-top: $margin * 2;

  a {
    color: $footer-link-color;

    &:hover {
      color: $footer-link-color-hover;
    }
  }

  &__wrap {
    max-width: $site-width;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
  }

  &__nav {
    flex: 0 1 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: $margin;

    @include mq(tablet-landscape-up) {
      flex-basis: 33.333334%;
      margin-bottom: 0;

    }

    .menu__title {
      display: none;
    }

    .menu__items {
      display: flex;
      flex-flow: row nowrap;
      list-style: none;

      .menu__item:last-child {}

    }

    .menu__item {
      @include font-size(13px); 

      @include mq(tablet-portrait-up) {
        @include font-size(16px);
      }
      &:after {
        content: "/";
        padding-left: $margin * .25;
        padding-right: $margin * .25;
        color: $white;
      }

      &:last-child {

        &::after {
          content: "";
          padding-left: 0;
        }

      }
    }

    .menu__link {
      color: $white;
      display: inline-block;
      padding: ($margin * .25) ($margin * .5);
      text-transform: uppercase;

    }

  }

  &__branding {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $alt-font-family;
    margin-bottom: $margin;


    @include mq(tablet-landscape-up) {
      flex-basis: 33.333334%;
      margin-bottom: 0;
    }

    &-link {
      margin-bottom: $margin * 0.5;

      svg {
        width: 203px;
        height: 69px;
        fill: $white;
      }
    }

  }

  &__newsletter {
    flex: 0 1 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @include mq(tablet-landscape-up) {
      flex-basis: 33.333334%;

    }

    a {
      color: $white;
      text-transform: uppercase;

      span {
        padding-left: $margin * .25;
      }
    }
  }

  &__social {
    margin: $margin 0;
    flex-basis: 100%;
    display: flex;
    justify-content: center;

    ul {
      list-style: none;
      display: flex;
      justify-content: center;

      li {
        margin: math.div($margin, 4);

        a {
          display: flex;
        }
      }

      svg {

        path {
          fill: $white;
          transition: fill 0.3s ease-in-out;

        }

        &:hover {
          path {
            fill: $blue;
          }
        }
      }
    }
  }

  &__copyright {
    flex-basis: 100%;
    display: flex;
    justify-content: center;

    p {
      color: $white;
      @include font-size(11px);
      text-transform: uppercase;
      margin-bottom: 0;
      text-align: center;

      


    }

    .siteby {
      margin-left: $margin * 0.5;
      display: inline-block;

      @include mq(phone-only) {
        //margin: ($margin * 0.5) auto 0 auto;
        //display: block;
        //padding-left: 0;
      }

      span {
        display: none;
      }

      svg {
        path {
          fill: $footer-link-color;
        }

        &:hover {
          path {
            fill: $footer-link-color-hover;
          }
        }
      }
    }
  }
}