////
/// App Search component.
///
/// @group  Components
/// @author Bryan Hoffman <bryan@spigotdesign.com>

////

.app-search {
    margin: 0;
    position: absolute;
    right: $margin;
    top: $margin / 3;

    @include mq(phone-only) {
        right: 0;
        //top: -85px;
        position: relative;
    }


    @include placeholder {
        color: $white;
        font-weight: normal;
        font-family: $font-family;
    }


    input[type="submit"] {
        display: none;
    }

    input[type="search"] {
        border-radius: 200px;
        width: 32px;
        height: 100%;
        text-indent: 20px;
        cursor: pointer;
        border: none;
        padding: 5px;
        padding-left: 15px;
        font-family: $font-family;
        font-weight: normal;
        background: transparent url(../svg/search.svg) 10px 50% no-repeat;
        background-size: 16px 16px;
        color: $blue-darker;
        outline: none;
        height: 33px;
        transition: all .3s ease-in-out;

        @include font-size(14px);

        .page-template-landing & {
            @include mq(desktop-nav) {
                background: transparent url(../svg/search-white.svg) 10px 50% no-repeat;
                background-size: 16px 16px;
            }
        }

        // Mobile
        @include mq(mobile-nav) {
            width: 90%;
            margin-left: 5%;
            background: $blue-darker url(../svg/search-white.svg) 10px 50% no-repeat;
            background-size: 16px 16px;
            color: $white;

            &:focus {
                width: 90% !important;
                background: $blue-darker url(../svg/search-white.svg) 10px 50% no-repeat;
                background-size: 16px 16px;
            }
        }
    }

    input[type="search"]:focus {
        width: 420px;
        outline: none;
        color: $white;
        background-image: url(../svg/search-white.svg);
        background-color: $blue-darker;
        box-shadow: inset 0 0 2px rgba($blue-darker, 0.2);
        cursor: text;

        @include mq(phone-only) {
           // width: 280px;
        }
    }
}