// Blog layout 


.blog-main {
	display: flex;
	flex-flow: row wrap;
}

.blog-content {
	flex: 0 1 100%;
	order: 1;
	
	@include mq(tablet-portrait-up) {
		flex-basis: calc(100% - 20rem);
		order: 2;
	}
	
	.page-description  {
		display: none;
	}
}