// Buttons


a.button,
button.button,
input.button,
#respond input#submit {
  @include button;
}

.wp-block-button {

	&.blue-light {

		.wp-block-button__link {
			border-color: $blue-light;
			color: $blue-light;

			&:hover {
				background-color: $blue-light;
				color: $white;
			}
		}
	}
}
