////
/// Comment respond form component.
///
/// @group  Components
/// @author Bryan Hoffman <bryan@cinchws.com>

////

.comment-respond {
  label {
    display: block;
    text-transform: uppercase;
    padding-left: 3px;

    &.subscribe-label {
      display: inline;
    }
  }

  textarea {
  	width: 100%;
  }

  // Header/title for the respond section.
  &__reply-title {}

  // The comment form.
  &__form {
  	display: flex;
  	flex-flow: row wrap;
  	justify-content: space-between;


    p {
      margin-bottom: 10px;
      @include font-size(13px);

      text-transform: uppercase;
    }
  }

  // Note section at the top of form.
  &__notes {
  	flex: 0 1 100%;
  }

  // Logged-in message at the top of the form.
  &__logged-in-as {
  	flex: 0 1 100%;
  }

  // The wrapping element around individual form fields.
  &__field {
    &--comment {
    	flex: 0 1 100%;
    }

    &--author, &--email, &--url {
    	flex: 0 1 32.5%;

    	input {
    		width: 100%;
    	}
    }

    &--email {}

    &--url {}

    &--cookies {}

    &--submit {
    	flex: 0 1 100%;
    	margin: $margin 0;
    }
  }

  // Comments closed message.
  &__closed {}
}