////
/// Comment component.
///
/// @group  Components
/// @author Bryan Hoffman <bryan@spigotdesign.com>

////

.comment {
  margin-bottom: $margin * 2;

  .children & {
    border-left: 1px solid $border-color;
    padding-left: $margin;
  }

  // Type of comment.
  &--type-comment {}

  &--type-ping {}

  // Comment status.
  &--status-unapproved {}

  // Full comment text/content.
  &__content {
    padding-bottom: $margin;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $border-color;
  }

  // Comment under moderation message.
  &__moderation {}

  // Metadata wrapper.
  &__meta {
    font-size: 14px;
    margin-bottom: 1em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    &-author {
      display: flex;
      align-items: center;
    }
  }

  // Individual metadata items.
  &__avatar {
    width: 40px;
    height: 40px;
    margin: 0 $margin 0 0;
    border-radius: 50px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.35);
  }

  &__author {}

  &__permalink {
    text-transform: uppercase;

    @include font-size(13px);

    color: $text-color;

    &:hover {
      color: $link-color;
    }
  }

  &__date {}

  &__time {}

  &__edit {}

  &__reply, &__edit {
    text-transform: uppercase;

    @include font-size(11px);

    border: 1px solid $border-color;
    padding: .25em .5em;
    position: relative;
    bottom: -1px;
    color: $text-color;

    &:hover {
      color: $white;
      background-color: $blue-dark;
    }

    //border-bottom: none;
 
  }
}

.akismet_comment_form_privacy_notice {
  @include font-size(12px);
}

.pingback {
  margin-bottom: 48px;
  padding-bottom: 24px;
}