.comments {
  // Main Comments Wrapper
  &-area {
    max-width: $site-width-med;
    margin: 0 auto;
    background-color: $white;
    padding: $margin * 1.5;
    // box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    border-top: none;
    border-radius: $border-radius-med;
    margin-bottom: $margin;
  }

  // Header/title for the comments section.
  &-title {
    //text-align: center;
    @include font-size(21px);
    border-bottom: 1px solid $border-color;
    padding-bottom: $margin;
    max-width: 49rem;
  }

  // Comments list wrapper.
  &__list {
    list-style: none;
    

    .children {
      padding-left: $margin * 2;
      margin-top: $margin * 2;
      list-style: none;
    }
  }

  // Comments closed message.
  &__closed {}
}

.comment {

  &-list {
    max-width: 49rem;
    list-style: none;
  }
}