////
/// Comment component.
///
/// @group  Components
/// @author Bryan Hoffman <bryan@spigotdesign.com>

////

.comment {
  margin-bottom: $margin * 3;

  .children {
    border-left: 7px solid $border-color;
    padding-left: $margin;
    list-style: none;
  }

  &-body {
    margin-bottom: $margin * 1.5;
  }

  // Full comment text/content.
  &-content {
    padding-bottom: $margin;


    p:last-child {
      margin-bottom: 0;
    }
  }

  &-metadata {

    // Date / Time
    a {
      color: $link-color-subtle;
    }
  }

  &-author {
    display: flex;
    align-items: center;

    .fn {
      padding-right: $margin * .25;

      a {
        color: $link-color-subtle;
      }
    }
  }

  &-meta {
    font-size: 14px;
    margin-bottom: 1em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

  }

  // Individual metadata items.
  .avatar {
    width: 40px;
    height: 40px;
    margin: 0 $margin 0 0;
    border-radius: 50px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.35);
  }

  &__permalink {
    text-transform: uppercase;

    @include font-size(13px);

    color: $text-color;

    &:hover {
      color: $link-color;
    }
  }

  &-reply-link,
  &-edit-link {
    text-transform: uppercase;

    @include font-size(11px);

    border: 2px solid $border-color;
    border-radius: $border-radius-small;
    padding: .25em .5em;
    position: relative;
    bottom: -1px;
    color: $text-color;
    background-color: $comment-reply-bg-color;
    font-weight: $bold-font-weight;

    &:hover {
      background-color: $highlight-color;
      color: $white;
      border-color: $highlight-color;
    }

    //border-bottom: none;

  }
}

.akismet_comment_form_privacy_notice {
  @include font-size(12px);
}

.pingback {
  margin-bottom: 48px;
  padding-bottom: 24px;
}