.container {
    padding: $margin * .5;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    z-index: 10;

    @include mq(tabelet-portrait-up) {
        padding: $margin;
    }

    &.c-wide {
        max-width: $site-width-wide;
    }

    &.c-medium {
        max-width: $site-width-med;
    }

    &.c-narrow {
        max-width: $site-width-narrow;
    }

    &.c-start {
        justify-content: flex-start;
    }

    // Single poste container
    .single-post .entry & {
        justify-content: space-between;
        align-items: flex-start;
        .entry__content {
            flex: 0 1 67%;
        }

        .sidebar {
            flex: 0 1 25%;
        }

        
    }


}

.constrain-that-sheet {
    max-width: $site-width-med;
    margin: $margin auto;


    .blog &,
    .archive & {
        display: flex;

        @include mq(tablet-portrait-up) {}

        .article-list {
            flex: 0 1 100%;

            @include mq(tablet-portrait-up) {
                flex-basis: 75%;
            }
        }

        aside {
            flex: 0 1 100%;

            @include mq(tablet-portrait-up) {
                flex-basis: 25%;
            }
        }
    }
}