// Events

.tribe-events-page-template {
    #tribe-events-content-wrapper {
        padding: $margin;
    }
}

.tribe-events .tribe-events-header {
    background-color: transparent;
}

.tribe-events-calendar-list__event {}

.tribe-events {
    &-calendar-list {
        &__event {
            width: 100%;
        }
    }
}

h2.tribe-events-schedule__datetime {
    font-family: $headings-font-family;
}

.archive-tribe_events {
    .post-list__card {
        width: 100% !important;
        flex-basis: 100% !important;
    }
}

.tribe-events-calendar-list__event-details {
    padding-top: $margin !important;
    padding-bottom: $margin !important;
}

.tribe-events-calendar-list__event-featured-image {
    margin-bottom: 0 !important;
}

.tribe-common-b1,
.tribe-common-b2,
.tribe-common-b3,
.tribe-events-calendar-list__event-date-tag-weekday {
    font-family: $sans-font-family !important;
}

.tribe-common h1,
.tribe-common h2,
.tribe-common h3,
.tribe-common-h3,
.tribe-common h4,
.tribe-common h5,
.tribe-common h6,
.tribe-common-h6,
.tribe-common p {
    font-family: $headings-font-family !important;
}

.tribe-common-c-btn {
    background-color: $blue !important;
    font-family: $sans-font-family !important;
}

.tribe-common .tribe-common-g-row--gutters {
    @include mq(phone-only) {
        margin-left: 0 !important;
    }
}

.tribe-events-list-separator-month span {
    background-color: $body-background;
}

.tribe-common .tribe-common-c-btn, .tribe-common a.tribe-common-c-btn {
    background-color: $blue;
}

.tribe-common .tribe-common-c-btn:focus, .tribe-common .tribe-common-c-btn:hover, .tribe-common a.tribe-common-c-btn:focus, .tribe-common a.tribe-common-c-btn:hover {
    background-color: $blue;
}

.tribe-events .tribe-events-c-ical__link:active, .tribe-events .tribe-events-c-ical__link:focus, .tribe-events .tribe-events-c-ical__link:hover {
    color: #fff;
    background-color: $blue;
}

.tribe-events .tribe-events-c-ical__link {
    color: $blue;
    border: 1px solid $blue;
}

.tribe-events .tribe-events-c-search__input-control--keyword .tribe-events-c-search__input:focus {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 18.711l-6.044-6.044a7.782 7.782 0 0 0 1.688-4.845c0-2.089-.822-4.044-2.288-5.533C11.866.822 9.91 0 7.822 0S3.778.822 2.29 2.289A7.801 7.801 0 0 0 0 7.822c0 2.09.822 4.045 2.289 5.534a7.801 7.801 0 0 0 5.533 2.288c1.778 0 3.467-.6 4.845-1.688L18.71 20 20 18.711zM3.578 12.067c-2.334-2.334-2.334-6.156 0-8.49a5.968 5.968 0 0 1 4.244-1.755c1.6 0 3.111.622 4.245 1.756 2.333 2.333 2.333 6.155 0 8.489a5.968 5.968 0 0 1-4.245 1.755c-1.6 0-3.11-.622-4.244-1.755z' fill='%23334AFF'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-month__day {
    background-color: $white;
}

