.page-template-front-page {

    .section {
        min-height: 101vh;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 0.6s ease;
        z-index: 5;
        padding: 0 .25rem;

        @include mq(tablet-portrait-up) {
            padding: 0 2rem;
        }

        @include mq(tablet-landscape-up) {
            padding: 0 7rem;
        }

        &-heading {

            span {
                color: $highlight-color;
            }
        }

        &-marquee {

            //min-height: 80vh;
            p,
            h1 {
                color: $white;
            }
        }

        &-about {
            color: white;

            p {
                font-size: 18px;
                font-size: 1.125rem;
                line-height: 2.1;
                font-weight: 300;
                margin-bottom: 6rem;

                @include mq(tablet-portrait-up) {
                    font-size: 26px;
                    font-size: 1.625rem;
                }
            }

            h2 {
                color: white;
                position: relative;

                span {
                    color: $highlight-color;
                }

                &:before {
                    content: "";
                    height: 1px;
                    width: 4.3125rem;
                    background-color: $highlight-color;
                    position: absolute;
                    top: -2rem;
                }
            }
        }

        &-capabilities {
            position: relative;

            .section-heading {
                font-family: $font-family;
                text-transform: uppercase;
                @include font-size(12px);
                font-weight: $normal-font-weight;
                position: relative;
                margin-bottom: $margin * 2.333;
                color: $gray-light;

                &:after {}
            }

            .capablities_content {
                position: relative;
                z-index: 2;
            }

            .cap-list {
                list-style: none;
                position: relative;
                z-index: 2;
                margin-bottom: $margin * 3;

                &__item {
                    @include font-size(31px);
                    padding: $margin 0;
                    transition: all 0.5s cubic-bezier(0.86, 0.18, 0.04, 0.81);
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    &:hover {
                        transform: translateX(100px);

                        &:after {
                            opacity: 1;
                        }
                    }

                    &:after {
                        position: relative !important;
                        background-image: url("data:image/svg+xml,%3Csvg width='37' height='11' viewBox='0 0 37 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.370667 5.53125C0.370667 5.25511 0.594524 5.03125 0.870667 5.03125H35.8707C36.1468 5.03125 36.3707 5.25511 36.3707 5.53125C36.3707 5.80739 36.1468 6.03125 35.8707 6.03125H0.870667C0.594524 6.03125 0.370667 5.80739 0.370667 5.53125Z' fill='%23372941'/%3E%3Cg%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30.5674 10.8344C30.3721 10.6392 30.3721 10.3226 30.5674 10.1273L35.5171 5.17758C35.7124 4.98232 36.029 4.98232 36.2242 5.17758C36.4195 5.37284 36.4195 5.68943 36.2242 5.88469L31.2745 10.8344C31.0792 11.0297 30.7627 11.0297 30.5674 10.8344Z' fill='%23372941'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30.5674 0.22799C30.7626 0.0327274 31.0792 0.0327274 31.2745 0.22799L36.2242 5.17758C36.4195 5.37284 36.4195 5.68943 36.2242 5.88469C36.029 6.07995 35.7124 6.08011 35.5171 5.88484L30.5674 0.935096C30.3721 0.739834 30.3721 0.423252 30.5674 0.22799Z' fill='%23372941'/%3E%3C/g%3E%3C/svg%3E%0A");

                        background-position: center;
                        display: flex;
                        content: "";
                        width: 4rem;
                        height: 2rem !important;
                        padding-right: 1rem;
                        background-repeat: no-repeat;
                        margin-left: 2rem;
                        transform: none;
                        z-index: 1;
                        top: .3rem;
                        transition: all 0.5s cubic-bezier(0.86, 0.18, 0.04, 0.81);
                        opacity: 0;
                    }


                }
            }

            .cap-bgs {
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                z-index: 1;
                

                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    opacity: 0;
                    transition: opacity 0.5s ease;

                }

                ;
            }
        }

        &-cta {
            .container-content {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }

            h2.section-heading {
                color: $white;
                margin-bottom: $margin * 2;
                max-width: $post-width * .8;
            }
        }

        &-projects {
            .container-content {
                width: 100%;
            }

            .projects {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;

                @include mq(tablet-portrait-up) {
                    justify-content: space-between;
                }


                .project {
                    flex: 0 1 90%;
                    position: relative;
                    margin-bottom: $margin;

                    @include mq(tablet-portrait-up) {
                        flex-basis: 44%;
                        margin-bottom: $margin * 3;
                    }

                    &:nth-child(even) {

                        @include mq(tablet-portrait-up) {

                            margin-top: $margin * 4;
                        }
                    }

                    &__thumb {
                        transition: transform .3s;
                        transform-style: preserve-3d;
                        border-radius: 1.5rem;
                        margin-bottom: $margin ;
                    }

                    &__title {
                        font-family: $font-family;
                        @include font-size(21px);
                        margin-bottom: $margin * .25;
                    }

                    &__link {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }

                    &:hover {
                        .project__thumb {
                            @include mq(tablet-landscape-up) {
                                transform: translateY(-30px);
                            }
                        }
                    }
                }
            }
        }

        &-clients {
            min-height: 80vh;
        }
    }



    .bg {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        transition: opacity .75s ease;

        &_1 {

            &:before {
                width: 100%;
                height: 100%;
                left: 0px;
                top: 0px;
                content: "";
                position: fixed;
                background: linear-gradient(77.26deg, rgba(19, 22, 45, 0.645) -2.9%, rgba(33, 36, 63, 0) 60.93%), linear-gradient(180deg, rgba(19, 22, 45, 0.845) -2.9%, rgba(33, 36, 63, 0) 90.93%);
                z-index: 1;
            }
        }

        


    }



}



.preload {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    transition: opacity .5s ease;
}

// Move this

.workwith {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    list-style: none;
    max-width: 90vw;
    transition: translateZ(0);
}

.workwith li {
    flex: 0 0 50%;
    //width: 200px; 
    //margin-right: 2.5rem;
    transition: translateZ(0);


    @include mq(tablet-portrait-up) {
        //flex-basis: 33%;
    }

    @include mq(tablet-landscape-up) {
        flex-basis: 20%;
    }
}

.workwith img {
    width: 85%;
}