////
/// Images component.
///
/// @group  Components
/// @author Bryan Hoffman <bryan@spigotdesign.com>

////


img {
  max-width: 100%;
  height: auto;
  display: block;
  position: relative; 

  &.emoji {
  	width: 16px;
  	height: 16px;
  	display: inline;
  	top: 3px;
  }
}

