// Menu Button

.menu {
  .menu__item.btn {
    margin-left: $margin;

    .menu__link {
      background: $nav-btn-bg;
      color: $nav-btn-text-color;
      padding-top: $margin * 0.125;
      padding-bottom: $margin * 0.125;
      border-style: solid;
      border-color: $nav-btn-border-color;
      border-width: $nav-button-border-width;
      border-radius: $border-radius;
      text-transform: uppercase;
      @include font-size(14px);

      &:hover {
        background: $nav-btn-bg-hover;
        color: $nav-btn-text-color-hover;
        border-color: $nav-btn-border-color-hover;
        //box-shadow: 0px 0px 10px 0px rgba($blue-dark,0.5) inset;
        //text-shadow: 0 0 10px 0px rgba($blue-dark,0.5);
      }


    }

    .nav-open & {
      width:95%;
      margin: 10px auto;
      .menu__link {
        background: $nav-btn-bg-hover;
        text-align: center;
      }
    }


  }
}