/*!
 * Toggle Menu
 * @description Tasty CSS-animated toggle-menus
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/toggle-menus
 * @link https://github.com/jonsuh/toggle-menus
 */

$toggle-width: 30px;
$toggle-height: 3px;
$toggle-color: $white;
$toggle-color-active: $white;

.toggle-menu {
  display: flex;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  font-family: $font-family;

  position: absolute;
  right: .25rem;
  top: math.div(25, 16) * 1rem;

  @include mq(desktop-nav) {
    display: none;
  }

  .nav-open & {
    &:before {
      color: $toggle-color-active;
    }
  }

  &:before {
    content: "Menu";
    text-transform: uppercase;

    @include font-size($toggle-width * 0.5);

    padding-right: 10px;
    color: $toggle-color;
  }

  &:focus {
    outline: none;
  }

  &-box {
    width: $toggle-width;
    height: 24px;
    display: inline-block;
    position: relative;
  }

  &-inner, &-inner::before, &-inner::after {
    width: $toggle-width;
    height: $toggle-height;
    background-color: $toggle-color;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;

    .nav-open & {
      background-color: $red;
    }
  }

  &-inner {
    display: block;
    top: 50%;
    margin-top: -2px;

    // Animation
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    .nav-open & {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    &::before {
      content: "";
      display: block;
      top: -2.5 * $toggle-height;

      // Animation
      transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;

      .nav-open & {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
      }
    }

    &::after {
      content: "";
      display: block;
      bottom: -2.5 * $toggle-height;

      // Animation
      transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);

      .nav-open & {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}