/*!
 * Toggle Menu
 * @description Tasty CSS-animated toggle-menus
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/toggle-menus
 * @link https://github.com/jonsuh/toggle-menus
 */

$toggle-width: 30px;
$toggle-height: 3px;

.toggle-menu {
  transform: scale(.45);
  display: flex;
  flex-direction: column;
  width: 70px;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  right: 1rem;
  top: 1rem;

  @include mq(desktop-nav) {
    display: none;
  }


  span {
    background: #fff;
    border-radius: 10px;
    height: 7px;
    margin: 7px 0;
    transition: transform .2s cubic-bezier(0.68, 0.6, 1, 1.6), background .2s ease-in-out;

  }

  span:nth-of-type(1) {
    width: 50%;

  }

  span:nth-of-type(2) {
    width: 100%;
  }

  span:nth-of-type(3) {
    width: 75%;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked~span {
    background: red;
  }

  input[type="checkbox"]:checked~span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(8px, 0px);
    background: red;
  }

  input[type="checkbox"]:checked~span:nth-of-type(2) {

    transform-origin: top;
    transform: rotatez(-45deg)
  }


  input[type="checkbox"]:checked~span:nth-of-type(3) {

    transform-origin: bottom;
    width: 50%;
    transform: translate(30px, -11px) rotatez(45deg);

  }

}



.toggle-menu-old {
  display: flex;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  font-family: $font-family;

  position: absolute;
  right: .25rem;
  top: math.div(25, 16) * 1rem;

  @include mq(desktop-nav) {
    display: none;
  }

  .nav-open & {
    &:before {
      color: $nav-toggle-color-active;
    }
  }

  &:before {
    content: "Menu";
    text-transform: uppercase;

    @include font-size($toggle-width * 0.5);

    padding-right: 10px;
    color: $nav-toggle-color;
  }

  &:focus {
    outline: none;
  }

  &-box {
    width: $toggle-width;
    height: 24px;
    display: inline-block;
    position: relative;
  }

  &-inner,
  &-inner::before,
  &-inner::after {
    width: $toggle-width;
    height: $toggle-height;
    background-color: $nav-toggle-color;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;

    .nav-open & {
      background-color: $nav-toggle-color-active;
    }
  }

  &-inner {
    display: block;
    top: 50%;
    margin-top: -2px;

    // Animation
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    .nav-open & {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    &::before {
      content: "";
      display: block;
      top: -2.5 * $toggle-height;

      // Animation
      transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;

      .nav-open & {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
      }
    }

    &::after {
      content: "";
      display: block;
      bottom: -2.5 * $toggle-height;

      // Animation
      transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);

      .nav-open & {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}