////
/// Pagination component.
///
/// @group  Components
/// @author Bryan Hoffman <bryan@spigotdesign.com>

////

@use "sass:math";

.pagination {
    margin: ($margin * 2) 0;

    // Header/Title element.
    &__title {}

    // The list of items.
    &__items {
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
    }

    // Individual items.
    &__item {
        flex: 0 1 auto;
        font-weight: normal;
        @include font-size(14px);
        font-family: $alt-font-family;

        &:first-child {

            .pagination__anchor {
                border-radius: $pagination-button-border-radius 0 0 $pagination-button-border-radius;
                padding-left: $margin * 1.5;
            }
        }

        &:last-child {

            .pagination__anchor {
                border-radius: 0 $pagination-button-border-radius $pagination-button-border-radius 0;
                padding-right: $margin * 1.5;
            }
        }

        &--prev {}

        &--next {}

        &--current {}

        &--dots {}
    }

    // The link or span element.
    &__anchor {
        padding: math.div($margin, 1.5) $margin;
        background-color: $pagination-bg-color;
        display: block;
        color: $pagination-text-color;
        border-right: 1px solid $pagination-border-color;


        &:hover {
            background-color: darken($green-dark, 10%);
            color: $white;
        }





        &--link {}

        &--current {
            background-color: darken($green-dark, 10%);
        }

        &--dots {}
    }
}