////
/// Page Builder component.
///
/// @group  Components
/// @author Bryan Hoffman <bryan@spigotdesign.com>

////

// Small page width override

@media (max-width: 768px) {
    .fl-row-content .fl-col-small {
        max-width: 600px;
    }
}

.spigot-hover-card {
    min-height: 21rem;
    border-radius: $border-radius !important;
    overflow: hidden;
    
    .entry__header {
        text-shadow: 0 0 .75rem rgba($black, 30%);
        h2 {
            @include font-size(34px);
        }
        span {
            font-family: $headings-font-family;
            text-transform: uppercase;
            @include font-size(17px);
            color: $white;
        }
    }
}

.section-heading {
    text-transform: uppercase;
}