// Post Navigation

.post-nav {

    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100px;


    a {

        border: 2px solid $border-color;
        border-radius: $border-radius-small;
        padding: .25em .5em;
        position: relative;
        bottom: -1px;
        color: $text-color;
        background-color: $comment-reply-bg-color;
        font-weight: $bold-font-weight;
        text-transform: uppercase;

        &:hover {
            background-color: $highlight-color;
            color: $white;
            border-color: $highlight-color;
        }

        &:first-child {
            //margin-left: 5px;
            left: -5px;
        }


        @include mq(phone-only) {
            flex-basis: 100%;
        }


        &:hover {
            // background-color: $link-color-hover;
        }
    }
}