// Post Navigation

.post-nav {
    margin: 0 auto $margin auto;
    max-width: $post-width;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    @include mq(phone-only) {
        flex-wrap: wrap;
    }


    a {
        flex: 0 1 49%;
        background-color: $link-color;
        color: $white;
        display: block;
        text-align: center;
        border-radius: $border-radius;
        padding: ($margin / 2) 0;
        margin: 0;
        border-radius: 3px;

        @include mq(phone-only) {
            flex-basis: 100%;
        }


        &:hover {
            background-color: $link-color-hover;
        }

        @include mq(phone-only) {
            margin-bottom: 5px;
        }
    }
}