////
/// Button block.
///
/// @group  Blocks
/// @author Bryan Hoffman <bryan@spigotdesign.com>
/// @link   https://spigotdesign.com/
////

.wp-block-buttons {
    display: flex;
    flex-flow: row wrap;
    //margin-bottom: $spacing-global;

    &.aligncenter {
        display: flex;
        justify-content: center;
    }

    &.alignright {
        float: none;
        justify-content: flex-end;
    }

    &.alignleft {
        float: none;
        justify-content: flex-start;
    }
}


.wp-block-button__link,
.wp-block-file__button {
    @include button;

    .blue & {
        border-color: $blue;

        &:hover {
            background-color: $blue;
            color: $white;
        }
    }

    .green & {
        border-color: $green;
        color: $green-dark;

        &:hover {
            background-color: $green;
            color: $white;
        }
    }

    .red & {
        border-color: $red;
        color: $red-dark;
        

        &:hover {
            background-color: $red;
            color: $white;
        }
    }
}

.wp-block-button {
    flex: 0 1 auto;
    margin-bottom: $spacing-global;
    margin-right: $spacing-global;

    // See `components/_button.scss`.
    &__link {}

    &__link:hover,
    &__link:focus {}

    &.blue {

        border-color: $blue;
    }
}


.is-style-squared .wp-block-button__link {
    border-radius: 0;
}

.is-style-outline .wp-block-button__link {
    border: 1px solid currentColor;
}

.is-style-outline .wp-block-button__link:not(.has-background) {
    background: transparent;
}

.is-style-outline .wp-block-button__link:not(.has-text-color) {
    color: inherit;
}