////
/// Quote block.
///
/// @group  Blocks
/// @author Bryan Hoffman <bryan@spigotdesign.com>

////

.testimonial_block {
    max-width: 1400px;
    margin: 0 auto;
    
    @include mq(tablet-portrait-up) {
        padding: 80px 0;
    }


    blockquote {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    cite {
        font-style: normal;
    }

    &-meta {
        flex: 0 1 100%;
        order: 2;
        padding-bottom: $margin;

        @include mq(tablet-portrait-up) {
            flex-basis: 25%;
            order: 1;
            padding: $margin * 2;
        }


        .profile {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            border-bottom: 3px solid $border-color-light;
            margin-bottom: $margin / 2;

            .attachment-thumbnail {
                width: 50px;
                height: 50px;
                bottom: -3px;
            }

            .author {
                margin-left: $margin / 2;
                color: $purple-dark;
                font-family: $base-font-family;
                font-weight: $normal-font-weight;
            }
        }

        .organization {
            color: $purple-dark;
            text-transform: uppercase;

            @include font-size(13px);

            opacity: .5;
            transition: opacity .3s ease-in-out;

            a {
                color: $purple-dark;
            }

            &:hover {
                opacity: 1;
            }
        }
    }

    &-content {
        flex: 0 1 100%;
        padding-bottom: $margin;
        padding-top: $margin;
        order: 1;

        @include mq(tablet-portrait-up) {
            flex-basis: 75%;
            order: 2;
            padding: $margin * 2;
        }


        p {
            font-family: $font-family;
            font-size: 28px;
            line-height: 1.8;
            color: $purple-dark;
            font-style: italic;

        }
    }
}

.wp-block-quote {
    margin-top: $margin * 2;
    margin-bottom: $margin * 3;
    padding-left: $margin * 2;
    border-left: 6px solid $border-color-light;

    p {
        font-family: $italic-font-family;
        font-size: 23px;
        line-height: 1.4;
        color: $purple-dark;


        @include mq(tablet-portrait-up) {
            font-size: 28px;
            line-height: 1.8;
        }
    }

    cite {
        margin-top: $margin;
        font-style: normal;
        color: $purple-light;
        display: block;
        font-size: 14px;
        font-family: $base-font-family;
        font-weight: $base-font-weight;

        &:before {
            content: "~ ";
        }
    }
}