// Buttons

@mixin button {
    @include font-size(14px);
    margin: 0;
    line-height: 1;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: visible;
    padding: 10px 40px;
    font-weight: $mid-font-weight;
    border-color: $button-border-color;
    border-width: $button-border-width;
    border-style: $button-border-style;
    border-radius: $button-border-radius;
    font-family: $button-font-family;
    color: $button-text-color;
    background-color: $button-bg-color;
    display: inline-block;
    text-transform: uppercase;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: $button-bg-color-hover;
        text-decoration: none;
        background-image: none;
        color: $button-text-color-hover;
        border-color: $button-border-color-hover;
    }
}

@mixin button-outline {

}



