body {
  font-family: $base-font-family;
  color: $text-color;
  line-height: $base-line-height;
  font-style: normal;
  min-height: 100%;
  background-color: $body-background;
  letter-spacing: .025em;
}