// Defaults


html {
	font-size: $base-font-size;
}


body {
  font-family: $base-font-family;
  color: $text-color;
  line-height: $base-line-height;
  font-style: normal;
  min-height: 100%;
  background-color: $body-background;

  @include mq(phone-only) {
  	overflow-x: hidden;
  }
  
  
  
}

#main {
  min-height: 80vh;;
}

.spigot-logo {
    --stop1: red;
    --stop2: purple;
    --stop3: blue;
    --stop4: green;
    --stop5: yellow;
    --stop6: orange; 
	--dur: 40s;
  }