////
/// Links component.
///
/// @group  Components
/// @author Bryan Hoffman <bryan@spigotdesign.com>

////

a {
    color: $link-color;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

a:hover {
    color: $link-color-hover;
    text-decoration: none;
}

h2.entry__title {
    a {
        color: $headings-color;
    }
}

h1, h2, h3, h4, h5 {
    a {
        color: $headings-color;
    }
}

.entry__more-link {
    color: $text-color;
}

.menu-note {
    font-family: $nav-font-family;

    @include font-size(13px);

    text-transform: uppercase;
    color: $white;
}

.text-link {
    a {
        font-weight: $mid-font-weight;
        padding-right: $margin;

        &:after {
            content: " › ";
        }
    }
}