// Lists

ul, ol {
    .entry__content & {
        padding-left: $margin;
        margin-bottom: $margin * 1.5;

        &.link-list {
            display: flex;
            flex-flow: row wrap;
            padding-left: 0;
            list-style: none;

            li {
                a {
                	font-weight: $mid-font-weight;
                	padding-right: $margin;
                    &:after {
                        content: " › ";
                    }
                }
            }
        }

        ul, ol {
            margin-bottom: 0;

            ul, ol {
                margin-bottom: 0;
            }
        }
    }
}